@media only screen and (max-width:990px){

  .inner_r4 {
    grid-template-columns: 1fr 1fr;
  }

  .inner_r2 {
    grid-template-columns: 1fr 1fr;
  }

}
@media only screen and (max-width:700px){
  .inner_r5 {
    grid-template-columns: 1fr 1fr;
  }
  
}
  


@media only screen and (max-width:500px){

  .inner_top {
    display: flex;
    align-items: center;
  
  }
  .container{
    display: flex;
    flex-direction: column;
    grid-gap: 30px;   
    text-align: center;   
  }

}