@media only screen and (max-width:500px){

.inner_top {
  display: flex;
  align-items: center;
  
}
.container{
  display: flex;
  flex-direction: column;
  grid-gap: 30px;   
  text-align: center;   
 }

}